@page
@model DomainCentricDemo.Web.Pages.Book.IndexModel

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books[0].Author)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


@if (Model.Weathers.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Weathers.First().date)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Weathers.First().summary)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Weathers.First().temperatureC)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Weathers)
        {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.summary)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.temperatureC)
                </td>
            </tr>
        }
        </tbody>
    </table>
}
